.history {
  padding-top: 50px;
}

.history > .currencies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history > .currencies > * {
  margin: 0 8px;
}

.history > .dynamic-chart-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.history > .dynamic-chart-wrapper > .dynamic-chart {
  width: 800px;
}

.history > .currencies > .currency-selector {
  width: 80%;
  max-width: 250px;
}


@media(max-width: 850px) {
  .history > .dynamic-chart-wrapper > .dynamic-chart {
    width: 600px;
  }
}

@media(max-width: 650px) {
  .history > .dynamic-chart-wrapper > .dynamic-chart {
    width: 90%;
  }
}

@media(max-width: 450px) {
  .history > .currencies {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
