.trade-wrapper {
  display: flex;
  justify-content: space-between;
}

.trade {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.chart-section{
  width: 100px;
  height: 100px;
}

.info-section{
  display: flex;
  justify-content: space-between;
}

.info{
  display: flex;
  justify-content: space-between;
}

.button-section{
  display: flex;
  justify-content: space-between;
}