.greeting {
    padding-top: calc(50vh - 100px - 40px);
}

.greeting > .greeting-title {
    font-family: 'Montserrat';
    text-align: center;
    color: #999;
}

.greeting > .greeting-title > * {
    margin: 10px 0;
}

.greeting > .greeting-title > h2 {
    color: #777;
    font-weight: 300;
}

@media(max-width: 600px) {
    .greeting > .greeting-title > h1 {
        font-size: 1.2rem;
    } 

    .greeting > .greeting-title > h2 {
        font-size: 1rem;
    }
}