.greeting {
    padding-top: calc(50vh - 100px - 40px);
}

.greeting > .greeting-title {
    font-family: 'Montserrat';
    text-align: center;
    color: #999;
}

.greeting > .greeting-title > * {
    margin: 10px 0;
}

.greeting > .greeting-title > h2 {
    color: #777;
    font-weight: 300;
}